.priceTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 30px;

  h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #252525;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
}

.tableGrid {
  width: 100%;
  display: flex;
  gap: 40px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.dynamicTable {
  width: 140%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  p {
    font-weight: 600;
    font-size: 24px;
    color: #252525;
  }

  table {
    width: 100%;
    text-align: left;
    font-size: 18px;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }

    thead {
      height: 60px;

      tr {
        border-top: 1px solid #252525;
      }
    }

    tbody {
      tr {
        &:nth-child(2n - 1) {
          background-color: #ffc40363;
        }
      }
    }

    td {
      width: fit-content;
      padding: 8px;
    }
  }
}

.red {
  color: #fe3a36;
}

.green {
  color: #0ea52c;
}
