@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "menlo";
  src: url("../../public/fonts/menlo.ttf") format("ttf");
}

body {
  font-family: "menlo", sans-serif;
  background-color: #0d0d0d;
  cursor: default;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ffc303;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-theme="light"] body {
  background-color: #fbfbfb;
  color: #232121;
}

[data-theme="light"] ::-webkit-scrollbar-track {
  background: #fbfbfb;
}

.active-after-screenshot {
  opacity: 1;
  transition: all 0.3s;
}

.chartView {
  display: flex;
  gap: 20px;
}
