@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "menlo";
  src: url("../../public/fonts/menlo.ttf") format("ttf");
}

body {
  font-family: "menlo", sans-serif;
  background-color: #0d0d0d;
  cursor: default;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ffc303;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-theme="light"] body {
  background-color: #fbfbfb;
  color: #232121;
}

[data-theme="light"] ::-webkit-scrollbar-track {
  background: #fbfbfb;
}

.active-after-screenshot {
  opacity: 1;
  transition: all 0.3s;
}

.chartView {
  display: flex;
  gap: 20px;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.defi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url("../../public/images/hero-squares.webp");
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (max-width: 768px) {
    padding-top: 100px;
  }

  h1 {
    font-size: 48px;
    background: linear-gradient(
      95deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 196, 3, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 1025px) {
      font-size: 50px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 50px;
      text-align: center;
    }
  }

  p {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 37.2px;
    max-width: 1270px;
    color: #ffc403;

    @media only screen and (max-width: 1025px) {
      font-size: 18px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

[data-theme="light"] .defi {
  background: none;

  h1 {
    background: linear-gradient(
      95deg,
      rgb(6, 6, 6) 0%,
      rgba(255, 196, 3, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
