.wrapperInt {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 1500px) {
    padding: 0 50px;
    max-width: fit-content;
  }

  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  .gradient0 {
    top: 5%;
    left: -45%;
    z-index: -102;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .gradient1 {
    top: 30%;
    right: -28%;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.integration {
  display: flex;
  flex-direction: column;
  padding: 64px 0 64px 0;
  align-items: center;
  justify-content: center;
  gap: 124px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    padding: 0 20px;
    gap: 42px;
  }

  h2 {
    font-size: 48px;
    line-height: 55px;
    background: linear-gradient(
      95deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 196, 3, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-clip: padding-box;
    border: solid 1px transparent;
    border-radius: 10px;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(
        180deg,
        rgba(255, 196, 3, 0.25) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    .integrationCard {
      padding: 30px 30px 60px 30px;
      background-color: #0d0d0d;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 24px;
      width: 100%;
      height: 100%;
      min-height: 740px;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      margin-bottom: auto;

      @media only screen and (max-width: 768px) {
        min-height: auto;
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 16px;

        @media only screen and (max-width: 1250px) {
          font-size: 14px;
        }
      }

      img {
        max-width: 80px;

        @media only screen and (max-width: 768px) {
          width: 40px;
        }
      }

      a {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        font-size: 16px;
        gap: 24px;
        z-index: 10000;
        margin-left: auto;

        @media only screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }

  .list {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 40px;

    @media only screen and (max-width: 1250px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
