.halving {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
  gap: 40px;
  font-size: 88px;
  width: 100%;

  h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #252525;
  }

  &Grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    .small {
      display: flex;
      flex-direction: column;
      font-size: 38px;
      align-items: flex-start;
      justify-content: center;
      gap: 6px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);

      span {
        font-size: 18px;
        width: 100%;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      max-width: 280px;
      gap: 20px;
      font-weight: 600;
      color: #ffc303;
      font-size: 100px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);

      span {
        text-align: left;
        font-size: 28px;
        font-weight: 400;
        color: #252525;
        text-shadow: none;
        width: 100px;
      }
    }
  }
}
